<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insurantMapper">
	<!-- INSERT -->
	<insert id = "insertInsurant" parameterType="com.insurance.sce.model.customer.InsurantDB">
		INSERT INTO insurant (insurantId, customerId, name, address, phoneNumber, age, accidentHistory, postedPriceOfStructure,
		usageOfStructure, gender, job, typeOfCar, rankOfCar, riskOfTripCountry, familyMedicalDisease, familyMedicalRelationship)
		VALUES (#{insurantId}, #{customerId}, #{name}, #{address}, #{phoneNumber}, #{age}, #{accidentHistory}, #{postedPriceOfStructure},
		#{usageOfStructureDB}, #{genderDB}, #{jobDB}, #{typeOfCarDB}, #{rankOfCarDB}, #{riskOfTripCountryDB}, #{familyMedicalDiseaseDB}, #{familyMedicalRelationshipDB})
	</insert>
	
	<!-- SELECT -->
	<select id = "selectInsurantList" resultType = "com.insurance.sce.model.customer.InsurantDB">
		SELECT * FROM insurant
	</select>
	<select id = "selectInsurant" resultType = "com.insurance.sce.model.customer.InsurantDB">
		SELECT * FROM insurant
		WHERE insurantId = #{insurantId}
	</select>
	<select id = "selectByCustomerId" resultType = "com.insurance.sce.model.customer.InsurantDB">
		SELECT * FROM insurant
		WHERE customerId = #{customerId}
	</select>
	<select id = "selectCustomerId" resultType = "String">
		SELECT customerId FROM insurant
		WHERE insurantId = #{insurantId}
	</select>
	
	<!-- UPDATE -->
	<update id = "updateName" parameterType = "com.insurance.sce.model.customer.Insurant">
		UPDATE insurant
		SET name = #{name}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateAddress" parameterType = "com.insurance.sce.model.customer.Insurant">
		UPDATE insurant
		SET address = #{address}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updatePhoneNumber" parameterType = "com.insurance.sce.model.customer.Insurant">
		UPDATE insurant
		SET phoneNumber = #{phoneNumber}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateAge" parameterType = "com.insurance.sce.model.customer.Insurant">
		UPDATE insurant
		SET age = #{age}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateAccidentHistory" parameterType = "com.insurance.sce.model.customer.Insurant">
		UPDATE insurant
		SET accidentHistory = #{accidentHistory}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updatePostedPriceOfStructure" parameterType = "com.insurance.sce.model.customer.Insurant">
		UPDATE insurant
		SET postedPriceOfStructure = #{postedPriceOfStructure}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateUsageOfStructure" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET usageOfStructure = #{usageOfStructure}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateGender" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET gender = #{gender}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateJob" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET job = #{job}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateTypeOfCar" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET typeOfCar = #{typeOfCar}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateRankOfCar" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET rankOfCar = #{rankOfCar}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateRiskOfTripCountry" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET riskOfTripCountry = #{riskOfTripCountry}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateForRecontract" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET customerId = #{customerId}, name = #{name}, address = #{address}, age= #{age}, accidentHistory= #{accidentHistory}
		, postedPriceOfStructure= #{postedPriceOfStructure}, usageOfStructure= #{eusageOfStructure}, gender= #{egender}, job= #{ejob}, typeOfCar= #{etypeOfCar}
		, rankOfCar= #{erankOfCar}, riskOfTripCountry= #{eriskOfTripCountry}, familyMedicalDisease= #{efamilyMedicalDisease}, familyMedicalRelationship= #{efamilyMedicalRelationship}, phoneNumber= #{phoneNumber}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateFamilyMedicalRelationship" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET familyMedicalDisease = #{efamilyMedicalDisease}
		WHERE insurantId = #{insurantId}
	</update>
	<update id = "updateFamilyMedicalDisease" parameterType = "com.insurance.sce.model.customer.InsurantDB">
		UPDATE insurant
		SET familyMedicalRelationship = #{efamilyMedicalRelationship}
		WHERE insurantId = #{insurantId}
	</update>
	
	<!-- DELETE -->
	<delete id = "delete" parameterType = "String">
	DELETE FROM insurant
	WHERE insurantId = #{insurantId}
	</delete>
</mapper>